h1{
        background-color: rgb(226, 14, 50);
        width: 200px;
        height:50px;
        margin: 20px;
}
div{
        background-color: black;
       height: 500px;
       width: 200px;
       display: inline-block;
}
#inline{
        width:100px;
        height:100px;
        margin:23px;
        background-color: pink;
}