section{
    width: 500px;
    height: 500px;
    background-color: brown;
}
#rgba{
    width: 50%;
    height: 50%;
    background-color: rgba(225, 225, 225, 0.6);
}
#opacity{
    width: 50%;
    height: 50%;
    background-color: yellow;
opacity: 0.5;
}